.registerBackground {
  background: url("../../../assets/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.registerForm {
  background-color: rgba(255, 255, 255, 0.664);
  border-radius: 7px;
}
