<div class="homeBackground">
  <div padding class="homeContent">
    <div class="homeProgressBarDiv">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col *ngIf="limitMin" size="1">
            <ion-icon name="cafe" size="small" color="medium"></ion-icon>
          </ion-col>
          <ion-col *ngIf="!limitMin" size="1">
            <ion-icon name="cafe" size="small" color="tertiary" (click)="updateBottle(-0.1)"></ion-icon>
          </ion-col>

          <ion-col size="10">
            <ion-progress-bar [value]="quantityBottle" color="tertiary" class="homeProgressBar"></ion-progress-bar>
          </ion-col>

          <ion-col *ngIf="limitMax" size="1">
            <ion-icon name="cafe" size="large" color="medium"></ion-icon>
          </ion-col>
          <ion-col *ngIf="!limitMax" size="1">
            <ion-icon name="cafe" size="large" color="tertiary" (click)="updateBottle(0.1)"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <br>
    <ion-button (click)="logout()" expand="block" color="danger">Logout</ion-button>
  </div>
</div>