<div class="homeBackground">
  <div padding class="homeContent">
    <div class="homeProgressBarDiv">
      <ion-button (click)="logout()" color="danger">
        <ion-icon name="power"></ion-icon>
      </ion-button>
      <ion-grid>
        <ion-row style="justify-content: center;">
          <ion-img *ngIf="colorTemCafe != 'success'" src="../../../assets/vazia.png"></ion-img>
          <ion-img *ngIf="colorTemCafe == 'success'" src="../../../assets/cheia.png"></ion-img>
          <ion-chip color="tertiary" *ngIf="colorTemCafe == 'success' && ageCoffee">Idade do café:
            {{ ageCoffee | date: 'dd/MM/yy HH:mm' }}
            <br>
            Autor do café: {{ name }}
          </ion-chip>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button [disabled]="!name" expand="block" [color]="colorTemCopo" (click)="temCopo()">
              Copo
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button [disabled]="!name" expand="block" [color]="colorTemAcucar" (click)="temAcucar()">
              Açúcar
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button [disabled]="!name" expand="block" [color]="colorTemPo" (click)="temPo()">
              Pó
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button [disabled]="!name" expand="block" [color]="colorTemCafe" (click)="temCafe()">
              Café
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <br />
    <ion-button [disabled]="!name" (click)="fizCafe()" expand="block" color="primary">
      Fiz café!
    </ion-button>
  </div>
</div>